# Django framework
Django==5.1
# Django REST framework for building APIs
djangorestframework==3.15.2
# CORS headers for handling cross-origin requests
django-cors-headers==4.4.0
# Provide colored logging output
coloredlogs==15.0.1
# Postgres database adapter for python
psycopg2-binary==2.9.9
# oad environment variables from a .env file
python-dotenv==1.0.1
